<div style="display: flex; flex-direction: row; justify-content: space-evenly;">
	<div data-iframe-width="150" data-iframe-height="270" data-share-badge-id="910f311b-0f7f-4911-b945-5ded663408ec" data-share-badge-host="https://www.credly.com"></div><script type="text/javascript" async src="//cdn.credly.com/assets/utilities/embed.js"></script>
	<div data-iframe-width="150" data-iframe-height="270" data-share-badge-id="281fbd5f-ca29-4235-b023-a9b93af2f6c5" data-share-badge-host="https://www.credly.com"></div><script type="text/javascript" async src="//cdn.credly.com/assets/utilities/embed.js"></script>
</div>
